<nav class="navbar">
  <div class="logo">CESIZen</div>
  <div class="nav-links">
    <a routerLink="/informations" routerLinkActive="active">Informations</a>
    <a routerLink="/respiration" routerLinkActive="active">Respiration</a>
    
    <ng-container *ngIf="!user">
      <a routerLink="/login" routerLinkActive="active">Connexion</a>
      <a routerLink="/register" routerLinkActive="active">Inscription</a>
    </ng-container>

    <ng-container *ngIf="user">
      <a *ngIf="user && (user.role == 1 || user.id_role == 1)" routerLink="/admin" routerLinkActive="active" style="color: #0369A1; font-weight: bold;">Administration</a>

      <a routerLink="/profil" routerLinkActive="active" class="user-name">Profil ({{ user.prenom }} {{ user.nom }})</a>
      <a (click)="onLogout()" class="logout-link">Déconnexion</a>
    </ng-container>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>